<!DOCTYPE html>
<div class="container">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/storyboardSelect">Demo</a></li>
    <li><a class="active" href="/about">About</a></li>
  </ul>
  <!-- Introduction Row -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">About Us</h1>
          <p>EasySpeak started off as a project for Dr. Michael J Fern's COMP 390: Intro to Entrepreneurship course. Through funding for student business ventures from Michael Seibel, CEO of Y Combinator, we were able to build the web app from scratch. The team's original goal was always to develop technology that could be used to improve the lives of others. We specifically wanted to help those with disablities. After reaching out to local speech-impairment communities, we met Dr. Adam Jacks and Maura Silverman. These two speech language pathologists helped us understand the needs facing the speech-impaired community. We learned of the issues facing individuals who suffer from Aphasia, a speech-related condition commonly had by people who have experienced brain trauma. Aphasia left these people unable to properly hear, speak, read, or write. After spending time reading up on Aphasia research and hearing the stories of the individuals Dr. Jacks and Maura worked with, we realized that creating a web application would be the best way to help out. The team's goal with EasySpeak is to provide as useful a way to practice social conversations at home while avoiding the outrageous prices of other therapy apps.

          We would like to also give a special shoutout to the speech-language pathologists and clients of the Triangle Aphasia Project for their help in developing EasySpeak into more than just an idea.</p>
      </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Our Current Team</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="images/team/scott.jpg" alt="">
          <h3>Scott Brumley
              <small>Programmer</small>
          </h3>
          <p>Scott is a Junior CS major specialising in full stack web development. After becoming interested in therapeutic applications while taking Dr. Gary Bishop's enabling technology class, Scott wanted to create meaningful projects for others. He was able to pursue this passion through EasySpeak, and he hopes to be able to use his knowledge of programming to continue to give back to the community through by growing EasySpeak.</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg" alt="">
          <h3>Nathaniel Lunsford
              <small>Advertising</small>
          </h3>
          <p>Nathan is a Junior CS major with interests in web development and network infrastructure. Nathan took an interest in the EasySpeak project as it combines his skills in programming with his love for helping others</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="images/team/alan.jpg" alt="">
          <h3>Alan Molina
              <small>Community Outreach</small>
          </h3>
          <p>Alan is a Junior CS and Stats major specialising in backend development and business. He is happy to be a part of the Move to the Music project while giving back to the local visually-impaired community. </p>
      </div>
  </div>
</div>