<!-- Page Content -->
<div class="container" id="body-container">
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/storyboardSelect">Demo</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="http://ilsvrc.cs.unc.edu/macv2015/images/unc_cs_logo.png" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>Therapy anywhere and anytime!</h1>
            <p>Built entirely by current UNC Chapel Hill students, SpeakEasy is an online web application that allows users to practice social interactions at home or with the help of a rehabilitation specialist. Users are able to chose from multiple 'storyboards' that simulate real world situations. These storyboards can range in scope from a trip to a fastfood restaurant to a conversation about politics. Users will be prompted with a series of questions that they must respond to using a selection of keywords. Their responses will be recorded through their computer's microphone and immediate feedback will be given.</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h2>About Us</h2>
            <p>Our team hopes to provide a unique and meaningful experience to the users. We
      all share a love of technology and therepeutic technology, and we hope that this passion shows
      itself in SpeakEasy. Click below to learn more about the development
      team as well as the application itself.</p>
            <a class="btn btn-default" href="/about">About</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 col-md-offset-2">
            <h2>Try the Beta!</h2>
            <p>Click below to see the application in action! While we are currently limited in the scope of created storyboards, we plan on having more soon.</p>
            <a class="btn btn-default" href="/storyboardSelect">Start Demo</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

