ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.container{
    margin-top: 50px;
}

.storyboard:hover{
    background-color: SteelBlue;
}

.list-group{
  font-size: 200%;
}

.list-group li{
  margin-bottom: 10px;
}

.storyboard-title{
  color: black;
    text-align: center;
}

.storyboard-description{
  color: black;
    text-align: left;
}

#stylized input{
    display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:300px;
    margin:2px 0 20px 10px;
}

h1 {
    text-align: center;
}

#submit {
    margin: auto;
}

.three-col {
    display: flex;
    overflow: hidden;/* Makes this div contain its floats */
}

.three-col .col1,
.three-col .col2,
.three-col .col3 {
    flex:1;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.three-col .col1 {
    order: 1;
}

.three-col .col2 {
    order: 2;
}

.three-col .col3 {
    order: 3;
}

.three-col label {
    display: block;
}

#submit {
    margin: 0 auto;
}
